body {
  margin: 0 auto;
  color: seashell;
  background-color: black;
  font-size: 22px;
  font-family: Helvetica;
  opacity: 0.9;
  text-align: center;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header {
  align-items: center;
  position: fixed;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
}
nav {
  text-align: right;
  flex-grow: 1;
  display: block;
}
