body {
  display: block;
  margin: 0 auto;
  color: seashell;
  background-color: black;
  font-size: 22px;
  font-family: Helvetica;
  opacity: 0.9;
  text-align: center;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
header {
  align-items: center;
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 1;
}
header img {
    height: 50px;
    padding-left: 10px;
}
nav {
  display: block;
  text-align: right;
  flex-grow: 1;
}
nav span {
  display: inline-block;
  padding: 10px 10px;
}
