body {
  color: seashell;
  background-color: black;
  font-size: 22px;
  font-family: Helvetica;
  opacity: 0.9;
  text-align: center;
}
header {
  display: flex;
  border-bottom: 1px solid seashell;
}
